/* Styles pour l'en-tête et le titre */
.custom-header {
    padding-bottom: 0;
    padding-left: 10px; /* Ajout de padding à gauche pour décaler le titre */
}

.custom-title {
    font-size: 1rem; /* Taille du texte légèrement augmentée */
    font-weight: bold;
    margin-bottom: 1rem; /* Réduction de l'espace en dessous */
}
/* Styles pour le bouton personnalisé */
.custom-button {
    background-color: #0070d2; /* Arrière-plan bleu */
    color: white; /* Texte blanc */
}
